<?xml version='1.0' encoding='UTF-8'?>  
<!DOCTYPE hibernate-configuration PUBLIC  
          "-//Hibernate/Hibernate Configuration DTD 5.3//EN"  
          "http://hibernate.sourceforge.net/hibernate-configuration-5.3.dtd">  
  
<hibernate-configuration>  
  
    <session-factory>  
        <property name="hbm2ddl.auto">update</property>  
        <property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>  
        <property name="connection.url">jdbc:mysql://localhost:3306/medical_management_system</property>  
        <property name="connection.username">admin</property>  
        <property name="connection.password">admin</property>
          
    	<mapping class="rs.naprednejava.medicalmanagementsys.model.Medicine"/>
    	<mapping class="rs.naprednejava.medicalmanagementsys.model.PharmaceuticalCompany"/>
    	<mapping class="rs.naprednejava.medicalmanagementsys.model.User"/>
    	<mapping class="rs.naprednejava.medicalmanagementsys.model.Doctor"/>
    	<mapping class="rs.naprednejava.medicalmanagementsys.model.Patient"/>
		<mapping class="rs.naprednejava.medicalmanagementsys.model.Specialization"/>
    	<mapping class="rs.naprednejava.medicalmanagementsys.model.Examination"/>
    	<mapping class="rs.naprednejava.medicalmanagementsys.model.Prescription"/>
    	<mapping class="rs.naprednejava.medicalmanagementsys.model.PrescriptionMedicine"/>
    </session-factory>  
  
</hibernate-configuration>  